*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
body{
    background: url('/static/assets/img/citu-background.jpeg') no-repeat cover;
    font-weight: bold;
    text-align: center;
    border: 1px solid #f1f1f1;
    margin:0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    margin-left: 5%;
}

form {
    border: 3px solid #f1f1f1;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(38, 38, 38);
    background: rgb(255, 255, 255);
    width: 80%;
    height: auto;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-right: auto;
}
form.bg {
    background: rgba(255, 218, 185, 0.3);
}
.wrapper {
    margin-top: 10%;
}
.wrapper h1 {
    /* font-family: "Allura", cursive; */
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
}
.team {
    display: flex;
    justify-content: center;
    width: auto;
    text-align: center;
    flex-wrap: wrap;
}
.team .team_member {
    background: white;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    color: gold;
    position: relative;
}
.team .team_member h3 {
    font-weight: bold;
    color: maroon;
    font-size: 26px;
    margin-top: 50px;
}
.team .team_member p.role {
    color: gold;
    margin: 12px 0;
    font-size: 15px;
    text-transform: uppercase;
}
.team .team_member p.p1{
    color: maroon;
}
.team .team_member p{
    color: black;
    font-size: 12px;
}
.team .team_member .team_img {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
}
.team .team_member .team_img img {
    width: 100px;
    height: 100px;
    padding: 5px;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(bg3.jpg);
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding: 0
}

.container2 {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.50);
    padding: 20px;
}

.nav{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin:10px;
}
.nav span{
    margin-left: 20px;
}
.about-us{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
.who-we-are{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.who-we-are span{
    width: 60%;
    align-items: center;
    text-align: center;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10px;
    flex-wrap: wrap;
}
.card-img{
    border-radius: 5px;
}
.cards .card{
    width: 16rem;
    margin: 20px;
}
.card p{
    font-size: 14px;
}
.members{
    width:200px;
    height:12rem;
    background-size: cover;
    background-position: center center;
}

.social-media{
    width: 90%;
    display: flex;
    justify-content: flex-end;
}
.social-media i{
    margin:10px;
}
.active{
    border-bottom: 1px solid #fff;
}