body{
    margin: 0;
    padding: 0;
    font-family: poppins;
}

td.td1{
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}

td.td2{
    padding-left: 20px;
    text-align: left;
}

.wrapper a{
    display: inline-block;
    text-decoration: none;
    background-color: #fff;
    padding: 15px;
    border-radius: 3px;
    text-transform: uppercase;
    color: #585858;
}

.btn-primary{
    margin-left: 150px;
}

a {
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}