body{
    background: url("/static/assets/img/citu-background.jpeg") no-repeat;
    background-size: cover;
    text-align: center;
}
h1{
    text-align: center;
    color: maroon;
    text-shadow: 2px 4px gold;
}

h2{
    text-align: center;
    font-size: x-large;
    color: maroon;
    text-shadow: 2px 4px gold;
}
form{
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(38, 38, 38);
    width: 85%;
    height: auto; 
}

form.form2{
    background: rgba(255, 255, 255, 0.79);
}
table{
    text-align: center;
}
