*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    background: url('/static/assets/img/citu-background.jpeg') no-repeat;
    background-size: cover;
    font-weight: bold;
    text-align: center;
    border: 1px solid #f1f1f1;
    margin:0;
    padding: 0;
}

nav{
    background: linear-gradient(to right, #ffd700, #800000); /*background: #741e1e;*/
    height: 80px;
    width: 100%;
}

img {
    height: 50px;
    width: 50px;
}
  
label.logo {
    color: #800000;
    font-size: 25px;
    line-height: 75px;
    padding-left: 30px;
    text-align: center;
    font-weight: bold;
}
  
nav ul {
    float: right;
    margin-right: 10px;
    margin-top: 3px;
}
  
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px; /* width: 170px ; */
}
  
nav ul li a{
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 3px;
    text-transform: uppercase;
}
  
a.active, a:hover{
    background: #1b9bff;
    transition: .5s;
}
  
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
  
#check{
    display: none;
}
  
@media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 40px;
    }
    nav ul li a{
      font-size: 16px;
      
    }
}
  
@media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 40px 0;
      line-height: 20px;
  
    }
    nav ul li a{
      font-size: 15px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
}
  
section{
    background: url(bg1.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}
  
footer{
    background: gold;
    color: maroon;
    font-weight: bold;
    text-align: center;
    border: 1px solid #f1f1f1;
    text-transform: uppercase;
}