html{
	zoom: 90%;
}
body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    text-align: center;
}

.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.psswdreset{ color: maroon; }
/*
input{
  width: 300px;
  height: 30px;
  
  border: 1px solid #ccc;
  box-sizing: border-box;
  position: relative;
  font-size: 20px;
} */

.psswdreset-box{
    margin-top: 10%;
    margin-left: 10%;
    width: 50%;
    background: rgba(255,255,255, 0.5);
	color: maroon;
	font-weight: bold;
	font-size: 22px;
	text-shadow: 1px 2px #ffffff;
    border-radius: 5%;
}

.cit-bg{
	z-index: -5;
	position: absolute;
	opacity: 50%;
	bottom: 0;
	left: 0;
	height: 100%;
	margin-left: 50px;
	width: 105%;
	display: flex;
}