/*html{
	zoom: 90%;
}*/
body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}
.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.cit-bg{
	z-index: -5;
	position: absolute;
	opacity: 50%;
	bottom: 0;
	left: 0;
	height: 100%;
	margin-left: 50px;
	width: 105%;
	display: flex;
}	

.signup-box{
<<<<<<< Updated upstream
=======
<<<<<<< HEAD

    border: 1px solid black;
    margin-top: 125px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 350px;
	width: 60%;
	background: rgba(128,128,128, 0.3);

=======
>>>>>>> Stashed changes
	/*
	padding-top: 50px;
	padding-left: 800px;
	padding-right: 50px;
	
	margin-left: 800px;
	box-sizing: border-box;
	background: rgba(128,128,128, 0.3);
	width: 500px;
	height: 700px;*/
	border: 1px solid black;
	margin-top: 125px;
	margin-bottom: 100px;
	margin-right: 150px;
	margin-left: 350px;
	width: 60%;
	background: rgba(128,128,128, 0.3);
<<<<<<< Updated upstream
=======
>>>>>>> 56b66413a7342bce63356a31df8df39cb03c635b
>>>>>>> Stashed changes
	text-align: center;
	color: maroon;
	font-weight: bold;
	font-size: 22px;
<<<<<<< Updated upstream
	text-shadow: 1px 1px #ffffff;		
=======
<<<<<<< HEAD
	text-shadow: 1px 1px #ffffff;

=======
	text-shadow: 1px 1px #ffffff;		
>>>>>>> 56b66413a7342bce63356a31df8df39cb03c635b
>>>>>>> Stashed changes
}

td[type="text"] {
    display: block;
    margin : auto;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;

}

.btn{
<<<<<<< Updated upstream
=======
<<<<<<< HEAD
  border: 0;
  border-radius: 5px;
  padding: 10px 25px;
  margin-top: 20px;
  margin-left: 75px;
  display: grid;
  border: none;
  cursor: pointer;
  background-color: maroon;
  color: white;
  font-size: 20px;
  -webkit-transform: property: box-shadow, transform;
  transition-property: box-shadow, transform;
  /*text-align: center;*/
}

 .btn:hover, .btn:focus, .btn:active{
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
=======
>>>>>>> Stashed changes
	border: 0;
	border-radius: 5px;
	padding: 10px 25px;
	margin-top: 20px;
	margin-left: 75px;
	display: grid;
	border: none;
	cursor: pointer;
	background-color: maroon;
	color: white;
	font-size: 20px;
	/*-webkit-transform: property: box-shadow, transform;*/
	transition-property: box-shadow, transform;
	/*text-align: center;*/
<<<<<<< Updated upstream
=======
>>>>>>> 56b66413a7342bce63356a31df8df39cb03c635b
>>>>>>> Stashed changes
}
  
.btn:hover, .btn:focus, .btn:active{
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}