<!doctype html>
{% extends 'CITAT/navbar.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
	
		<title>Profile</title>

		<style>
			.profile-pic{
				width: 200px;
				height: 200px;
				margin: 0 auto;
				border-radius: 50%;
			}

			body{
				margin: 0;
				padding: 0;
				font-family: poppins;
			}

			td.tble2{
				padding-left: 20px;
				padding-right: 20px;
				text-align: left;
			}

			.wrapper a{
				display: inline-block;
				text-decoration: none;
				background-color: #fff;
				padding: 15px;
				border-radius: 3px;
				text-transform: uppercase;
				color: #585858;
			}

			/* .modal{
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				display:  flex;
				align-items: center;
				justify-content: center;
				transition: all 0.4s;
				visibility: hidden;
				opacity: 0;
				height: 220%;
			}
			.modal:target {
				visibility: visible;
				opacity: 1;
			}
			.modalcontent{
				position:  absolute;
				background: #fff;
				margin: 0 auto; 
				width: 85%;
				height: 100%;
				max-width: 200%; 
				/ padding: 1em 1em;/
				border-radius: px; 
				text-align: center;
				
			} */

			/* The Modal (background) */
			.modal {
				display: none; /* Hidden by default */
				position: fixed; /* Stay in place */
				z-index: 1; /* Sit on top */
				padding-top: 100px; /* Location of the box */
				left: 0;
				top: 0;
				width: auto; /* Full width */
				height: 100%; /* Full height */
				overflow: auto; /* Enable scroll if needed */
				background-color: rgb(0,0,0); /* Fallback color */
				background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
			}

			/* Modal Content */
			.modal-content {
				background-color: #fefefe;
				margin: auto;
				padding: 20px;
				border: 1px solid #888;
				width: 65%;
			}

			/* The Close Button */
			.close {
				color: #aaaaaa;
				float: right;
				font-size: 28px;
				font-weight: bold;
			}

			.close:hover,
				.close:focus {
				color: #000;
				text-decoration: none;
				cursor: pointer;
			}
			a {
				font-size: 15px;
				font-weight: 600;
				cursor: pointer;
			}
		</style>

	</head>
	<body>
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body">
					<a class="btn- btn-warning" href="{% url 'home'%}"> &#8592; Back to Home </a>
					<hr>
					<h3 style="color:#800000; text-shadow: 1px 0px #D4AF37; text-align:center;"><b>Account Settings</b></h3>
					<hr>
					<img class="profile-pic" src="{{request.user.alumni.profile_pic.url}}">

				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body">

					<form method="POST" action="" enctype="multipart/form-data">
						{% csrf_token %}
						<table>
							<tbody>
								<tr>
									<td>ID No.: </td>
									<td class="tble2"> {{request.user.alumni.user}} </td>
								</tr>
								<tr>
									<td>First Name: </td>
									<td class="tble2"> {{request.user.alumni.firstname}} </td>
								</tr>

								<tr>
									<td>Last Name: </td>
									<td class="tble2"> {{request.user.alumni.lastname}} </td>
								</tr>

								<tr>
									<td>Email: </td>
									<td class="tble2"> {{request.user.alumni.email}} </td>
								</tr>

								<tr>
									<td>Contact No.: </td>
									<td class="tble2"> {{request.user.alumni.phone}} </td>
								</tr>

								<tr>
									<td>State/City/Region: </td>
									<td class="tble2"> {{request.user.alumni.address}} </td>
								</tr>

								<tr>
									<td>Zipcode: </td>
									<td class="tble2"> {{request.user.alumni.zipcode}} </td>
								</tr>

								<tr>
									<td>Country: </td>
									<td class="tble2"> {{request.user.alumni.Country}} </td>
								</tr>

								<tr>
									<td>Course: </td>
									<td class="tble2"> {{request.user.alumni.Course}} </td>
								</tr>
								<tr>
									<td>Year Graduated: </td>
									<td class="tble2"> {{request.user.alumni.Year_graduated}} </td>
								</tr>
								<tr>
									<td>Masteral/Doctoral Degree: </td>
									<td class="tble2"> {{request.user.alumni.additional_degree}} </td>
								</tr>
								<tr>
									<td>Work Status </td>
									<td class="tble2"> {{request.user.alumni.alumni_employed}} </td>
								</tr>
							</tbody>
						</table>
						<!-- <p>ID No.: {{request.user.alumni.user}}</p> 
						<p>Firstname.: {{request.user.alumni.firstname}}</p>
						<p>Lastname.: {{request.user.alumni.lastname}}</p>
						<p>Email.: {{request.user.alumni.email}}</p>
						<p>Contact No.: {{request.user.alumni.phone}}</p>
						<p>Address.: {{request.user.alumni.address}}</p>
						<p>Zipcode.: {{request.user.alumni.zipcode}}</p>
						<p>Course.: {{request.user.alumni.Course}}</p> -->
						
					</form>
					<!-- <button class="btn btn-primary" href="{% url 'updateprofile'%}" name="Update Information">Edit</button> -->
					<div class="wrapper">
						<!-- <a href="#Profile-Edit">Edit</a> -->
						<a id="myBtn"> Edit</a>
					</div> 
					<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
					<script>
					  // {%for message in messages %}
						// swal('{{message}}');
						// <p id="messages">{{message}}</p>
						swal({
				  
						  title: '{{message}}',
						  dangerMode: true,
						
						})
					  //{%endfor%}
					</script> 

					<div class="wrapper">
						<a href="{% url 'addcompany' %}">Click here if you are Employed</a>
					</div>

					<!-- <div class="wrapper">
						<a href="#Employed-Edit">Click here if you are Employed</a>
					</div> -->


					<!-- <div id="Profile-Edit" class="modal">
						<div class="modalcontent">
							<br>
							<h3 style="color:#800000; text-shadow: 1px 0px #D4AF37; text-align:center;"><b>Update Profile</b></h3>
							<br>
							<form method="POST" action="" enctype="multipart/form-data"> 
								{% csrf_token %}
								<table>
									<tbody>
										<tr>
											<td class="tble2">First name: </td>
											<td class="tble2"> {{form.firstname}} </td>
										</tr>
										<tr>
											<td class="tble2">Last name: </td>
											<td class="tble2"> {{form.lastname}} </td>
										</tr>
										<tr>
											<td class="tble2">Gender: </td>
											<td class="tble2"> {{form.Gender}} </td>
										</tr>
										<tr>
											<td class="tble2">Civil Status: </td>
											<td class="tble2"> {{form.Civil}} </td>
										</tr>
										<tr>
											<td class="tble2">Email: </td>
											<td class="tble2"> {{form.email}} </td>
										</tr>
										<tr>
											<td class="tble2">Telephone: </td>
											<td class="tble2"> {{form.Telelephone}} </td>
										</tr>
										<tr>
											<td class="tble2">Phone Number: </td>
											<td class="tble2"> {{form.phone}} </td>
										</tr>
										<tr>
											<td class="tble2">Address: </td>
											<td class="tble2"> {{form.address}} </td>
										</tr>
										<tr>
											<td class="tble2">Zipcode: </td>
											<td class="tble2"> {{form.zipcode}} </td>
										</tr>
										<tr>
											<td class="tble2">Religion: </td>
											<td class="tble2"> {{form.Religion}} </td>
										</tr>
										<tr>
											<td class="tble2">Citizenship: </td>
											<td class="tble2"> {{form.Citizenship}} </td>
										</tr>
										<tr>
											<td class="tble2">Date og Birth: </td>
											<td class="tble2"> {{form.Date_of_Birth}} </td>
										</tr>
										<tr>
											<td class="tble2">Place of Birth: </td>
											<td class="tble2"> {{form.Place_of_Birth}} </td>
										</tr>
										<tr>
											<td class="tble2">Course: </td>
											<td class="tble2"> {{form.Course}} </td>
										</tr>
										<tr>
											<td class="tble2">Incase of emergency: </td>
											<td class="tble2"> {{form.incaseofemergency}} </td>
										</tr>
										<tr>
											<td class="tble2">Name of emergency: </td>
											<td class="tble2"> {{form.nameofemergency}} </td>
										</tr>
										<tr>
											<td class="tble2">Relation: </td>
											<td class="tble2"> {{form.relation}} </td>
										</tr>
										<tr>
											<td class="tble2">Contact number: </td>
											<td class="tble2"> {{form.contactnumber}} </td>
										</tr>
										<tr>
											<td class="tble2">Address: </td>
											<td class="tble2"> {{form.address2}} </td>
										</tr>
										<tr>
											<td class="tble2">Work status: </td>
											<td class="tble2"> {{form.alumni_employed}} </td>
										</tr>

									</tbody>
								</table>
								 <p>First name: {{form.firstname}} </p>
								<p>Last name: {{form.lastname}}</p>
								<p>Gender: {{form.Gender}}</p>
								<p>Civil status: {{form.Civil}}</p>
								<p>Email: {{form.email}}</p>
								<p>Telephone: {{form.Telephone}}</p>
								<p>Phone number: {{form.phone}}</p>
								<p>Address: {{form.address}}</p>
								<p>Zipcode: {{form.zipcode}}</p>
								<p>Religion: {{form.Religion}}</p>
								<p>Citizenship: {{form.Citizenship}}</p>
								<p>Date of birth: {{form.Date_of_Birth}}</p>
								<p>Place of birth: {{form.Place_of_Birth}}</p>
								<p>Course: {{form.Course}}</p>
								<p>Incase of emergency:{{form.incaseofemergency}}</p>
								<p>Name of emergency: {{form.nameofemergency}}</p>
								<p>Relation: {{form.relation}}</p>
								<p>Contact number: {{form.contactnumber}}</p>
								<p>Address: {{form.address2}}</p>
								<p>Work status: {{form.alumni_employed}}</p>->
								{{form.profile_pic}} 

								<button type="submit" href="{% url 'account' %}"> Update </button>

							</form> 
							<a href="{% url 'account' %}" class="modalclose"> Close </a>
						</div>
					</div> -->

					<!-- The Modal -->
					<div id="myModal" class="modal">
						<!-- Modal content -->
						<div class="modal-content">
							<span class="close">&times;</span>
							<!-- <p>Some text in the Modal..</p>-->
							
							<center>
								<h3 style="color:#800000; text-shadow: 1px 0px #D4AF37; text-align:center;"><b>Update Profile</b></h3>
								<br>
								<form method="POST" action="" enctype="multipart/form-data"> 
									{% csrf_token %}
									<table>
										<tbody>
											<tr>
												<td class="tble2">First name: </td>
												<td class="tble2"> {{form.firstname}} </td>
											</tr>
											<tr>
												<td class="tble2">Last name: </td>
												<td class="tble2"> {{form.lastname}} </td>
											</tr>
											<tr>
												<td class="tble2">Gender: </td>
												<td class="tble2"> {{form.Gender}} </td>
											</tr>
											<tr>
												<td class="tble2">Civil Status: </td>
												<td class="tble2"> {{form.Civil}} </td>
											</tr>
											<tr>
												<td class="tble2">Email: </td>
												<td class="tble2"> {{form.email}} </td>
											</tr>
											<tr>
												<td class="tble2">Telephone: </td>
												<td class="tble2"> {{form.Telephone}} </td>
											</tr>
											<tr>
												<td class="tble2">Phone Number: </td>
												<td class="tble2"> {{form.phone}} </td>
											</tr>
											<tr>
												<td class="tble2">State/City/Region: </td>
												<td class="tble2"> {{form.address}} </td>
											</tr>
											<tr>
												<td class="tble2">Zipcode: </td>
												<td class="tble2"> {{form.zipcode}} </td>
											</tr>
											<tr>
												<td class="tble2">Country: </td>
												<td class="tble2"> {{form.Country}} </td>
											</tr>
											<tr>
												<td class="tble2">Religion: </td>
												<td class="tble2"> {{form.Religion}} </td>
											</tr>
											<tr>
												<td class="tble2">Citizenship: </td>
												<td class="tble2"> {{form.Citizenship}} </td>
											</tr>
											<tr>
												<td class="tble2">Date of Birth: </td>
												<td class="tble2"> {{form.Date_of_Birth}} </td>
											</tr>
											<tr>
												<td class="tble2">Place of Birth: </td>
												<td class="tble2"> {{form.Place_of_Birth}} </td>
											</tr>
											<tr>
												<td class="tble2">Course: </td>
												<td class="tble2"> {{form.Course}} </td>
											</tr>
											<tr>
												<td class="tble2">Year Graduated: </td>
												<td class="tble2"> {{form.Year_graduated}} </td>
											</tr>
											<tr>
												<td class="tble2">Masteral/Doctoral Degree: </td>
												<td class="tble2"> {{form.additional_degree}} </td>
												<td class="tble2">(Put "N/A" if not applicable) </td>
											</tr>
											<tr>
												<td class="tble2">Work status: </td>
												<td class="tble2"> {{form.alumni_employed}} </td>
											</tr>
											<tr>
												<td class="tble2">Incase of emergency: </td>
												<td class="tble2"> {{form.incaseofemergency}} </td>
											</tr>
											<tr>
												<td class="tble2">Name of emergency: </td>
												<td class="tble2"> {{form.nameofemergency}} </td>
											</tr>
											<tr>
												<td class="tble2">Relation: </td>
												<td class="tble2"> {{form.relation}} </td>
											</tr>
											<tr>
												<td class="tble2">Contact number: </td>
												<td class="tble2"> {{form.contactnumber}} </td>
											</tr>
											<tr>
												<td class="tble2">Address: </td>
												<td class="tble2"> {{form.address2}} </td>
											</tr>
											
										</tbody>
									</table>
									{{form.profile_pic}} 
				
									<button type="submit" href="{% url 'account' %}"> Update </button>
									<a href="{% url 'account' %}" class="modalclose"> Close </a>
								</form>
							</center>
						</div>
					</div>
					<!--End Modal-->
				</div>
			</div>
		</div>

		<script>
            // Get the modal
            var modal = document.getElementById("myModal");

            // Get the button that opens the modal
            var btn = document.getElementById("myBtn");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks the button, open the modal
            btn.onclick = function() { modal.style.display = "block"; }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() { modal.style.display = "none"; }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>
		
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	</body>
	{% endblock %}
</html>