<!doctype html>
{% extends 'CITAT/navbar.html' %}
{% load static %}
{% block content %}
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
	
		<title>Alumni Dashboard</title>

		<style>
			.profile-pic{
				width: 200px;
				height: 200px;
				margin: 0 auto;
				border-radius: 50%;
			}

		</style>
	</head>
	<body style="background: url('/static/assets/img/citu-background.jpeg') no-repeat; background-size: cover;">
		<br>
		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Profile:</h5>
					<hr>
					<img class="profile-pic" src="{{alumni.profile_pic.url}}">
				
				</div>
			</div>
			<div class="col-md">
				<div class="card card-body">
					<h5>Contact Information</h5>
					<hr>
					<p>Email: {{alumni.email}}</p>
					<p>Phone: {{alumni.phone }}</p>
				</div>
			</div>
		</div>

		<br>



		<br>
		<div class="row">
		<div class="col-md-4">
				<div class="card card-body">
					<h5>User Profile Information</h5>
					<hr>
					<p>Firstname: {{alumni.firstname}}</p>
					<p>Lastname: {{alumni.lastname }}</p>
					<p>Gender: {{alumni.Gender }}</p>
					<p>Zipcode: {{alumni.zipcode }}</p>
					<p>Course: {{alumni.Course }}</p>
				</div>
			</div>
	
		
		<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<table class="table table-sm">
						<tr>
							<th>Company Name</th>
							<th>Company Address</th>
							<th>Company Zipcode</th>
							<th>Company Contact Number</th>
							<th>Company Email</th>
							<th>Position</th>
							<th>Income</th>
							<th>Year Started</th>


						</tr>
				
						{% for Employed in employed %}
					
						<tr>
							<td>{{Employed.Company_name}}</td>
							<td>{{Employed.Company_address}}</td>
							<td>{{Employed.Company_zipcode}}</td>
							<td>{{Employed.Company_contact}}</td>
							<td>{{Employed.Company_email}}</td>
							<td>{{Employed.Position}}</td>
							<td>{{Employed.Income}}</td>
							<td>{{Employed.Year_started}}</td>

						</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>

		
	
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	</body>
	{% endblock content %}
</html>