<!DOCTYPE html>
{% extends 'CITAT/navbar.html' %}
{% load static %}
{% block content %}
{%include 'CITAT/status.html' %}
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<title>CIT-U Alumni Tracker | Dashboard</title>
	
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
        <link rel="preconnect" href="https://fonts.gstatic.com"/>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,500&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

		<link rel="stylesheet" href="{% static 'css/dashboard.css' %}"/>
	</head>
	
	<body>
		<br>
		<div class="row">
			<div class="col-md">
				<h5>Alumni</h5>
				<hr>
				<div class="card card-body">
					<a class="btn btn-danger btn-sm btn-block" href="">Alumni Info</a>
					<table class="table table-sm">
						<tr>
							
							<th>First Name</th>
							<th>Last Name</th>
							<th>Phone No.</th>
							<th>Action</th>
						</tr>
				
						{% for Alumni in alumni %}
						
						<tr>
							
							<td>{{Alumni.firstname}}</td>
							<td>{{Alumni.lastname}}</td>
							<td>{{Alumni.phone}}</td>
							<td><a class = "btn btn-sm btn-danger" href="{% url 'alumni' Alumni.id %}">View</a></td>
						</tr>
				
						{% endfor %}
					</table>
				</div>
			</div>

	
			<!-- Optional JavaScript -->
			<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	
			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		</div>
	</body>
	{% endblock content %}
</html>