<!doctype html>
{% extends 'CITAT/navbar.html' %}
{% load static %}
{% block content %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>

    <title>Delete Event</title>
  </head>
  <style>
    .row{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .card{
      font-size: 24px;
      font-weight: 500;
      padding: 40px 10px;
      text-align: center;
    }
    .btn{
      margin: 10px;
      width: 100px;
      padding: 10px 10px;
    }
  </style>
  <body style="background: url('/static/assets/img/citu-background.jpeg') no-repeat; background-size: cover;">
    <div class= "row">
      <div class= "col-md-6">
          <div class = "card card-body">
            <p> Are you sure you want to delete the "{{item}}" ?</p>
            <form action="{%url 'delete_event' item.id %}"method="POST">
              {% csrf_token %}
              <a class="btn btn-warning" href = "{% url 'dashboard' %}"> Cancel</a>
              <input class="btn btn-danger" type="submit" name="Confirm" value="Confirm">
            </form>
          </div>
      </div>
    </div>  
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
  {%endblock%}
</html>