<!DOCTYPE html>
{% extends 'CITAT/navbar.html' %}
{% load static %}
{% block content %}
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        
        <title>CIT-U Alumni Tracker System</title>
	
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
        <link rel="preconnect" href="https://fonts.gstatic.com"/>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,500&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

        <link rel="stylesheet" href="{% static 'css/landingpage.css' %}"/>

        <style>
            #h2size{
                font-size: 60px;
                font-weight: bold;
                color: maroon;
                text-shadow: 2px 4px gold;
            }
            p.p1{
                font-size: 20px;
                
            }
            i.a1{
                text-decoration: underline;
            }
        </style>
        
    </head>

    <body>      
        <center>
            <form class="form2">
                <br>
                <h1> WELCOME TO </h1>
                <label class="logo">
                    <h2>
                        <img class="bslogo" src="{% static 'assets/img/citu-ccs-logo.png' %}" alt="CCS logo" width="20%" height="15%"/>
                        College of Computer Studies
                    </h2>
                </label>

                <br> <br> <br>
                
                <h2 id="h2size" class="animate__animated animate__heartBeat">ALUMNI TRACKER SYSTEM </h2>

                <br> <br> <br>

                <p class="p1">
                   <i>
                       Where we keep in touch with our former students, classmates, and fellow Technologians.
                       <br> <br>
                       And also to welcome you to be one of our <b>ALUMNI</b> and to be <i class="a1">one with our community.</i>
                    </i>
                </p>
            </form>
        </center>
    </body>
    {% endblock content %}
</html>