<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <link rel="icon" href="{% static 'assets/img/citu-logo.png' %}" type="image/gif"/>
        <link rel="stylesheet" href="{% static 'css/landingpage.css' %}"/>
        <title>CIT-U Alumni Tracker System</title>
	
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    </head>

    <body>
        <br>
        <h1> WELCOME TO </h1>
        <center>
            <form class="form2">
                <h2>Cebu Institute of Technology - University</h2>
                <label class="logo">
                    <img class="bslogo" src="{% static 'assets/img/citu-ccs-logo.png' %}" alt="CCS logo" width="20%" height="15%">
                    College of Computer Studies
                </label>
                <h2> <br> Alumni Tracker System </h2>
            </form>
        </center>
    </body>
</html>