<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="icon" href="{% static 'assets/img/citu-logo.png' %}" type="image/gif"/>

		<title>Reset Password Sent</title>

		<link rel="stylesheet" href="{% static 'css/password_reset.css' %}" />
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
	</head>
	
	<body>
		<img class="wave" src="{% static 'assets/img/wave.png' %}"/>
		<img class="cit-bg" src="{% static 'assets/img/citu-background.jpeg' %}"/>

		<center>
			<div class="psswdreset-box">
				<br>
				<div>
					<h2 style="color:#800000; text-shadow: 2px 1px #D4AF37; text-align:center;"><b>Password Reset Sent</b> </h2>
					<h4> We’ve emailed you instructions for setting your password, if an account exists with the email you entered.
						<br>
						You should receive them shortly.</h4>
                   
                    <h4>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</h4>
				</div>
				<br><br>
			
			</div>
		</center>
  	</body>
</html>