<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="icon" href="{% static 'assets/img/citu-logo.png' %}" type="image/gif"/>

		<title>Reset Password</title>

		<link rel="stylesheet" href="{% static 'css/password_reset.css' %}" />
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
	</head>
	
	<body>
		<img class="wave" src="{% static 'assets/img/wave.png' %}"/>
		<img class="cit-bg" src="{% static 'assets/img/citu-background.jpeg' %}"/>

		<center>
			<div class="psswdreset-box">
				<br>
				<div>
					<h2 style="color:#800000; text-shadow: 2px 1px #D4AF37; text-align:center;"> Enter new password </h2>
					<h4> Please enter your new password twice so we can verify you typed it in correctly..</h4>
				</div>
				<br><br>
				<form method='post'>
					{%csrf_token%}
					{{form}}
					<input type="Submit" name="Update Password">
					<br>
				</form>
				<br><br>
			</div>
		</center>
  	</body>
</html>