<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="icon" href="{% static 'assets/img/citu-logo.png' %}" type="image/gif"/>

		<title>Reset Password</title>

		<link rel="stylesheet" href="{% static 'css/password_reset.css' %}" />
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
	</head>

	<style>
		button {
			background-color: maroon;
            border: 2px solid ma;
			color: #FFD700;
			padding: 5px 5px;
			margin: 8px 0;
			border: none;
			cursor: pointer;
			width: 15%;
            
        }
        button:hover {
            opacity: 50px;
            background-color:	#FFD700;
            color: maroon
        }
	</style>

	<body>
		<img class="wave" src="{% static 'assets/img/wave.png' %}"/>
		<img class="cit-bg" src="{% static 'assets/img/citu-background.jpeg' %}"/>

		<center>
			<div class="psswdreset-box">
				<br>
				<div>
					<h2 style="color:#800000; text-shadow: 2px 1px #D4AF37; text-align:center;"> Password Reset Complete </h2>
					<h4> Your password has been set. You may go ahead and log in now.</h4>
				</div>
                <a href="{% url 'loginpage'%}">
                    <button type="submit"><b>Log in</b></button>
                  </a>
				<br><br>
			</div>
		</center>
  	</body>
</html>