<!doctype html>
{% extends 'CITAT/navbar.html' %}
{% load static %}
{% block content %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    
        <link rel="stylesheet" href="{% static 'css/user_selfemployed.css' %}"/>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
        <title>FILL UP FORM</title>

        <style>
            #lbltitle{
                text-transform: uppercase;
            }
            .form_tab{
                font-size: 20px;
            }
            td{
                padding-left: 40px;
                text-align: left;
            }
            h4{
                color:#800000;
                text-shadow: 2px 1px #FFFFFF;
                text-align:center"
            }
            td.btnSubmit{
                text-align: center;
                margin: 4px 2px;
                text-transform: uppercase;
            }
        </style>
    </head>
    <body>
        <center>
            <form class="form2" method="POST" action="/add_useremployed_form_submission/" autocomplete="on">
                {% csrf_token %}
                <div id="container">
                    <br>
                <h1 class="text">
                    <span id="lbltitle">Fill up form</span>
                </h1>
    
                <div class="mid_box">
                    <div class="mid-outer">
                        <div class="mid-inner">
                            <div class="mid">
                                <div id="main">
                                    <div id="">
                                        <h4><b> Questions for Presently Employed<b></h4>
                                        <br><br>
                                        <center>
                                            <table cellspacing="5" cellpadding="4" width="100%">
                                                <tr>
                                                    <td width="50%">
                                                       Are you presently employed/self employed? :
                                                    </td>
                                                    <td align="left" width="45%">
                                                        <input name="employed" type="radio" value = "Yes" required>Yes
                                                        <input name="employed" type="radio" value = "No" required>No
                                                    </td>
                                                </tr>
                                                    
                                                <tr>
                                                    <td width="45%">
                                                        What type of Organization do you belong? :
                                                    </td>
                                                    <td align="left" width="55%">
                                                        <select name="organization" required>
                                                            <option value="">--Select--</option>
                                                            <option  value="Government Organization (GO)">Government Organization (GO)</option>
                                                            <option  value="Business Organization (BO)">Business Organization (BO)</option>
                                                            <option  value="Private Organization">Private Organization</option>
                                                            <option  value="Cooperative">Cooperative</option>
                                                            <option  value="Non Government Organization">Non Government Organization</option>
                                                            <option  value="Peoples Organization">Peoples Organization</option>
                                                        </select><br/>
                                                    </td>
                                                </tr>
                                                    
                                                <tr>
                                                    <td>
                                                        Were you selected according to your qualifications? :
                                                    </td>
                                                    <td align="left">
                                                        <select name="selections" required>
                                                            <option value="">--Select--</option>
                                                            <option value="Selection">Selection</option>
                                                            <option value="Retention">Retention</option>
                                                            <option value="Promotion">Promotion</option>
                                                        </select><br/>
                                                    </td>
                                                </tr>
                                                    
                                                <tr>
                                                    <td width="45%">
                                                        What is your annual income from your present employment? Pesos :
                                                    </td>
                                                    <td name="income" align="left" width="55%">
                                                        <input type = "text" name = "income">
                                                    </td>
                                                </tr>
                                                    
                                                <tr>
                                                    <td width="45%">
                                                        Were you able to use the skills acquired from your degree/course to your current work? :
                                                    </td>
                                                    <td name="skills" align="left" width="55%">
                                                        <select name="skills" required>
                                                            <option value="">--Select--</option>
                                                            <option  value="Yes">Yes</option>
                                                            <option  value="No">No</option>
                                                        </select><br/>
                                                    </td>
                                                </tr>
                                            </table>
                                        </center>
                                        
                                        <br> <br>
                                            
                                        <center>
                                            <table cellspacing="0" width="80%" border="0">
                                                <tr>
                                                    <td class="btnSubmit">
                                                        <input type="submit" name="submit" id="submit" class="btn-danger"/>
                                                    </td>
                                                </tr>
                                            </table>
                                        </center>
                                    </div>
                                    <div class="bottom-outer">
                                        <div class="bottom-inner">
                                            <div class="bottom"> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </center>
    
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
    {% endblock content %}
</html>