<!doctype html>
{% extends 'CITAT/navbar.html' %}
{% load static %}
{% block content %}
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    
        <link rel="stylesheet" href="{% static 'css/user_selfemployed.css' %}"/>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    
        <title>FILL UP FORM</title>
    </head>

    <body>
        <center>
            <form class="form2" method="POST" action="" autocomplete="on">
                <div id="container">
                    <h1 class="text">
                        <span id="lbltitle">Fill up form</span>
                    </h1>
                    <div class="mid_box">
                        <div class="mid-outer">
                            <div class="mid-inner">
                                <div class="mid">
                                    <div id="main">
                                        <div id="">
                                            <div class="form_tab"> Questions for Self Employed</div>
                                            <br><br>
                                            <center>
                                                <table cellspacing="5" cellpadding="4" width="100%">
                                                    <tr>
                                                        <td width="50%">
                                                            If currently self-employed, what type of activity/business you are engaged in? :
                                                        </td>
                                                        <td align="left" width="45%">
                                                            <select name="business" required>
                                                                <option value="">--Select--</option>
                                                                <option  value="Direct Selling">Direct Selling</option>
                                                                <option  value="Farming">Farming</option>
                                                                <option  value="Fishing">Fishing</option>
                                                                <option  value="Franchise">Franchise</option>
                                                                <option  value="Franchising">Franchising</option>
                                                                <option  value="Service Operation">Service Operation</option>
                                                                <option  value="Trading">Trading</option>
                                                                <option  value="Others">Others</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                
                                                    <tr>
                                                        <td width="45%">
                                                            Is your business related to the course/degree you finished? :
                                                        </td>
                                                        <td align="left" width="55%">
                                                            <input name="related" type="radio" value = "Yes" required>Yes
                                                            <input name="related" type="radio" value = "No" required>No
                                                        </td>
                                                    </tr>
                                                        
                                                    <tr>
                                                        <td width="45%">
                                                            Reasons for engaging in self-employment :
                                                        </td>
                                                        <td width="55%">
                                                            <select name="reasons" required>
                                                                <option value="">--Select--</option>
                                                                <option  value="Higher Income">Higher Income</option>
                                                                <option  value="More Flexible Time">More Flexible Time</option>
                                                                <option  value="Family Affair">Family Affair</option>
                                                                <option  value="Had the opportunity to put up my business">Had the opportunity to put up my business</option>
                                                                <option  value="Advised by husband/wife/relatives">Advised by husband/wife/relatives</option>
                                                                <option  value="To have time to attend household chores">To have time to attend household chores</option>
                                                                <option  value="I want to be the boss of my own">I want to be the boss of my own</option>
                                                                <option  value="Others">Others</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                        
                                                    <tr>
                                                        <td>
                                                            How many persons do you employ in your business? :
                                                        </td>
                                                        <td align="left">
                                                            <input type = "text" name = "numberofemployee">
                                                        </td>
                                                    </tr>
                                                        
                                                    <tr>
                                                        <td>
                                                            What skills acquired in college were you able to apply in you work? :
                                                        </td>
                                                        <td align="left">
                                                            <input type = "text" name = "skills">
                                                        </td>
                                                    </tr>
                                                </table>
                                            </center>
                                            
                                            <br> <br>
                                            
                                            <center>
                                                <table cellspacing="0" width="80%" border="0">
                                                    <tr>
                                                        <td class="btnSubmit">
                                                             <input type="submit" name="submit" id="submit" class="btn-danger">
                                                        </td>
                                                    </tr>
                                                </table>
                                            </center>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-outer">
                                    <div class="bottom-inner">
                                        <div class="bottom"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </center>
        
    
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
    {% endblock content %}
</html>